# kate: icon-border true; indent-mode none; syntax INI Files;

[run]
source = rstxml2db
branch = True

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise AssertionError
    raise NotImplementedError
    if 0:
    if False:
    if __name__ == .__main__.:
ignore_errors = True
omit =
    tests/*
    test/*
    */rstxml2db/__main__.py

[html]
title = rstxml2docbook Coverage Report

