
graft doc
graft test
prune doc/_build

include ChangeLog
include README*
include src/rstxml2db/rstxml2db.xsl
include src/rstxml2db/resolve.xsl
include src/rstxml2db/suse-upgrade.xsl

global-exclude *.py[cod] __pycache__ *.so *.dylib
