
graft doc
graft tests
prune doc/_build

include ChangeLog
include README*
include *.pip
recursive-include src/rstxml2db/  *.xsl
include src/rstxml2db/*.conf



global-exclude *.py[cod] __pycache__ *.so *.dylib
