
graft doc
graft tests
prune doc/_build

include ChangeLog
include README*
include src/rstxml2db/rstxml2db.xsl
include src/rstxml2db/resolve.xsl
include src/rstxml2db/suse-upgrade.xsl
include src/rstxml2db/*.conf

global-exclude *.py[cod] __pycache__ *.so *.dylib
