# Requirements file for pip (only for Travis CI)

-r requirements.pip
-r doc/requirements.pip
pytest
tox
# flake8
coverage
codecov
pytest-cov

# See https://github.com/Syntaf/travis-sphinx/pull/5
travis-sphinx==1.2.0
pytest-travis-fold
-e .
