# Requirements file for pip (only for Travis CI)

-r requirements.txt
pytest
# flake8
coverage
codecov
pytest-cov
sphinx-rtd-theme
# See https://github.com/Syntaf/travis-sphinx/pull/5
travis-sphinx==1.2.0
